@font-face {
	font-family: "Permanent Marker";  
	src: url("../media/fonts/PermanentMarker-Regular.ttf") format("truetype");
 }
@font-face {
	font-family: "Montserrat";  
	src: url("../media/fonts/Montserrat-Light.ttf") format("truetype");
 }
